:root {
    --cb-main: #fff;
    --c-main: #2e2f42;
    --c-main-second: #434455;
    --c-logo: #4d5ae5;
    --c-header-border: #e7e9fc;
    --c-hover-menu: #404bbf;
    --cb-hero-gr-start: rgba(46, 47, 66, 0.70);
    --cb-hero-gr-finish: rgba(46, 47, 66, 0.70);
    --cb-team: #f4f4fd;
    --cb-footer-social-hover: #31D0AA;
    --cb-modal: #FCFCFC;
    --c-modal-label: #8E8F99;
    --c-menu-icon: #2F2F37;
    --w-mob-width: 320px;
    --w-mob-container: 288px;
    --w-tab-width: 768px;
    --w-tab-container: 736px;
    --w-tab-modal: 408px;
    --w-des-width: 1440px;
    --w-des-container: 1158px;
    --w-des-modal: 408px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--c-main);
    background-color: var(--cb-main);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
input,textarea {
	font-family: inherit;
    line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    overflow-x: auto;
    /* Temp  */
    /* outline: 2px solid tomato;
    outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
   
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Header section */
.header {
    max-height: 56px;
    max-width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid var(--c-header-border);
    box-shadow: 
        0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-logo);
}

/*  Navbar menu */
.navbar .logo {
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar .logo-right {
    color: var(--c-main);
}

.navbar-list {
    display: none;
}

.navbar-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--c-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-active {
    color: var(--c-hover-menu);
}

.navbar-link:hover,
.navbar-link:focus {
    color: var(--c-hover-menu);
}

.navbar-link::after {
    position: absolute;
    content: "";
    left: 0;
    /* bottom: -1px; */
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-active.navbar-link::after {
    background-color: var(--c-hover-menu);
}

.navbar-link:hover::after,
.navbar-link:focus::after {
    background-color: var(--c-hover-menu);
}

.navbar-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.navbar-menu-icon {
    fill: var(--c-menu-icon);
}

/*  Address  */
.addrbar {
    display: none;
}

.addrbar-link {
    color: var(--c-main-second);
}

.addrbar-link:hover,
.addrbar-link:focus {
    color: var(--c-hover-menu);
}


@media screen and (min-width: 768px) {
    .header {
        max-width: 768px;
        max-height: 72px;
        
    }
    .header .container {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar .logo {
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .navbar-list {
        display: flex;
        gap: 40px;
    }
    .navbar-menu-btn {
        display: none;
    }
    .addrbar {
        display: block;
    }
    .addrbar-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
    
    .addrbar-link {
        color: var(--c-main-second);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }
}
@media screen and (min-width: 1158px) {
    .header {
        max-width: 1158px;
    }
    .header .container {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar .logo {
        /* margin-left: 156px; */
        margin-right: 76px;
    }
    .navbar-list {
        gap: 40px;
    }

    .addrbar {
        display: block;

    }
    .addrbar-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        /* padding-right: 156px; */
    }
    
    .addrbar-link {
        color: var(--c-main-second);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


/* Main */
/* Hero section */
.hero {
    background-color: var(--c-main);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
        var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_mob.jpg");
}
@media only screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
            var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_mob@2x.jpg");
    }
}
/* 768px */
@media only screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
            var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_tab.jpg");
    }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
            var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_tab@2x.jpg");
    }
}
/* 1158px */
@media only screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
            var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_desk.jpg");
    }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, var(--cb-hero-gr-start),
            var(--cb-hero-gr-finish)), url("../images/bg/hero_bg_desk@2x.jpg");
    }
}

.hero {
    max-width: 320px; 
    margin: 0 auto;
}
.hero .container {
    padding: 72px 0;
}

.hero-title {
    width: 288px;
    color: var(--cb-main);
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
}

.hero-btn {
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--cb-main);
    background-color: var(--c-logo);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--c-hover-menu);
}
@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px; 
    }
    .hero .container {
        padding: 112px 0;
    }
    .hero-title {
        width: 496px;
        padding: 0;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-transform: none;
    }
    .hero-btn {
        margin-top: 36px;
    }
}
@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero .container {
        padding: 188px 0;
    }
    .hero-btn {
        margin-top: 48px;
    }
}
/* Our Qualities */
/* Title H2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities {
    margin: 0 auto;
}
.qualities .container {
    padding-top: 96px;
    padding-bottom: 96px;
}
/* Sections title, image, descr styles */
.qualities-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.qualities-item {
    width: 100%;
}

/* icon wrapper */
.qualities-ico-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--c-modal-label);
    background: var(--cb-team);
    margin-bottom: 8px;
}

/* h3 */
.qualities-title {
    color: var(--c-main);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

/* P */
.qualities-descr {
    color: var(--c-main-second);
    font-size: 16px;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
    .qualities {
        max-width: 768px;
    }
    .qualities-list {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .qualities-item {
        width: calc((100% - 24px) / 2);
    }
    .qualities-title {
        line-height: 1.11;
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .qualities {
        max-width: 1158px;
    }
    .qualities-ico-wrap {
        display: flex;
    }
    .qualities-list {
        justify-content: space-around;
        gap: 24px;
    }
    .qualities-item {
        width: calc((100% - 72px) / 4);
    }
    .qualities-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .qualities-descr {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*  Our Team */
.team {
    max-width: 320px;
    background-color: var(--cb-team);
    padding: 96px 0;
    margin: 0 auto;
}

.team .container {
    padding: 0 28px;
}
.team-title {
    color: var(--c-main);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding-bottom: 2px;
}

.team-item {
    width: 100%;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--cb-main);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}

.person-title {
    color: var(--c-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.person-descr {
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.person-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.person-social-item {
    width: 40px;
    height: 40px;
}

.person-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--c-logo);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: var(--cb-team);
}

.person-social-link:hover,
.person-social-link:focus {
    background-color: var(--c-hover-menu);
}

@media screen and (min-width: 768px) {
    .team {
        max-width: 768px;
    }
    .team .container {
        padding: 0 16px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
    .team-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .team {
        max-width: 1440px;
    }
    .team .container {
        padding: 0 15px;
    }
    .team-list {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
}
/* END Team */

/* Portfolio */
.portfolio {
    margin: 0 auto;
}
.portfolio .container {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio-title {
    color: var(--c-main);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 2px;
}

.portfolio-item {
    width: 100%;
    max-width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover  {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.product-image-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.product-image {
    width: 288px;
    height: 280px;
}

.product-overlay {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cb-team);
    background-color: transparent;
    padding: 40px 32px;
    margin: 0 auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.product-about {
    padding: 32px 16px;
}

.product-title {
    color: var(--c-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.product-descr {
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .portfolio {
        max-width: 768px;
    }
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    .product-image {
        width: 356px;
        height: 300px;
    }
}
@media screen and (min-width: 1158px) {
    .portfolio {
        max-width: 1158px;
    }
    .portfolio-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
    .portfolio-item {
        min-width: 360px;
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .product-image {
        width: 360px;
        height: 300px;
    }
    .product-overlay {
        display: block;
    }
    .portfolio-item:hover .product-overlay {
        transform: translateY(0%);
    }
    .product-about {
        border-top: none;
        border-left: 1px solid var(--c-header-border);
        border-right: 1px solid var(--c-header-border);
        border-bottom: 1px solid var(--c-header-border);
    }
}
/* END Our Portfolio */


/* Footer */
.footer {
    max-width: 320px;
    background: var(--c-main);
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.footer-logo-wrap {
    text-align: center;
}

.footer .logo {
    margin: 0 0 16px 0;
}

.footer .logo-right {
    color: var(--cb-team);
}

.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 264px;
    color: var(--cb-team);
    text-align: left;
}

.footer-social-wrap {
    margin: 0 auto;
    text-align: center;
}

.footer-social-title {
    color: var(--cb-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--c-logo);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: var(--cb-team);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--cb-footer-social-hover);
}

/* Subscribe form */
.subscribe-form-wrap {
    width: 100%;
    text-align: center;
}

.subscribe-title {
    color: var(--cb-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.subscribe-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe-form .input-email {
    width: var(--w-mob-container);
    height: 40px;
    border-radius: 4px;
    color: var(--cb-main);
    border: 1px solid var(--cb-main);
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
}
.subscribe-form .input-email::placeholder {
    color: var(--cb-main);
}

.subscribe-form .subscribe-btn {
    display: flex;   
    justify-content: center;
    align-items: center;
    color: var(--cb-main);
    min-width: 165px;
    height: 40px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    background: var(--c-logo);
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form .subscribe-icon {
    margin-left: 16px;
}
.subscribe-form .subscribe-btn:hover,
.subscribe-form .subscribe-btn:focus {
    background-color: var(--c-hover-menu);
}

.subscribe-icon{
    fill: var(--cb-team);
}
/* END Subscribe form */
@media screen and (min-width: 768px) {
    .footer {
        max-width: 768px;
    }
    .footer .container {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
        padding-right: 108px;
    }
    .footer-logo-wrap {
        max-width: 264px;
        text-align: left;
    }
    .footer-social-wrap {
        text-align: left;
        margin: 0;
    }
    .subscribe-form-wrap {
        text-align: left;
    }
    .subscribe-form {
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        gap: 24px;
    }
    .subscribe-form .input-email {
        width: 264px;
    }
}
@media screen and (min-width: 1158px) {
    .footer {
        max-width: 1158px;
        padding: 100px 0;
    }
    .footer .container {
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
        padding: 0 15px;
    }
    .footer-logo-wrap {
        max-width: 264px;
        text-align: left;
        margin-right: 120px;
    }
    .footer-social-wrap {
        text-align: left;
        margin-right: 80px;
    }
    .subscribe-form-wrap {
        text-align: left;
        margin-right: auto;
    }
}
/* END Footer */

/* Modal */
.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop.is-open .modal {
    transform: translate(-50%, -50%) scale(1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%) scale(1);

    width: 100%;
    max-width: var(--w-mob-container);
    height: 100%;
    max-height: 623px;
    overflow-y: auto;

    background-color: var(--cb-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}    

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    outline: none;
    background-color: var(--c-header-border);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn .close-icon {
    fill:var(--c-main);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: var(--c-hover-menu);
}
.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
    fill:var(--cb-main);
}


.modal-title{
    color: var(--c-main);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.input-icon-wrap {
    position: relative;
  }
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms;
}
.input-text:focus + .input-icon {
    fill: var(--c-logo);
}

.fieldblock-input {
    width: 100%;
    margin-bottom: 8px;
}
.input-label {
    display: block;
    color: var(--c-modal-label);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.input-text {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus,
.input-textarea:focus {
    border-color: var(--c-logo);
}

.input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldblock-textarea {
    width: 100%;
    margin-bottom: 16px;
}

.input-textarea {
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.fieldblock-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.policy-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--c-modal-label);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:focus + .policy-label .checkbox-span {
    border-color: var(--c-logo);
}
.input-checkbox:checked + .policy-label .checkbox-span {
    background-color: var(--c-hover-menu);
    fill: var(--cb-team);
    border: none;
}
.input-checkbox:checked + .policy-label .checkbox-icon {
    opacity: 1;
}

.policy-label .policy-link {
    color: var(--c-logo);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: var(--cb-main);
    background: var(--c-logo);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-btn:hover,
.form-btn:focus {
    background-color: var(--c-hover-menu);
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: var(--w-tab-modal);
        height: 100%;
        max-height: 584px;
    }   
}
@media screen and (min-width: 1158px) {
    .modal {
        overflow: hidden;
        padding-left: 24px;
        padding-right: 24px;
    }   
}
/* END Modal */


/* Mobile Menu */
.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    flex-direction: column;

    background-color: var(--cb-main);
    padding: 72px 16px 40px;
    width: 100%;
    height: 100%;
}
.mobile-menu-container.is-open {
    transform: translateX(0);
}
.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--c-header-border);
}
.close-icon {
    fill: var(--c-main)
}
.mobile-menu-list {
    margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link {
    color: var(--c-main);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.mobile-menu-link.menu-active {
    color: var(--c-hover-menu);
}
.mobile-contacts {
    margin-bottom: 48px;
}
.mobile-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-contacts-link {
    color: var(--c-main-second);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mobile-contacts-link.accent {
    color: var(--c-logo);
}
.mobile-social-items {
    display: flex;
    gap: 40px;
    align-items: center;
}
.mobile-social-item {
    width: 40px;
    height: 40px;
}
.mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--c-logo);
}
.social-icon {
    fill: var(--cb-team);
}
/* END Mobile Menu */

